*{
    margin:0;
    padding:1px;
}

body{
    background: #010523;;
}

svg path{
    fill: #03517c;
    stroke: black;
    stroke-width:2px;
}

svg path:hover{
    fill: #7d88c7;
    transition: 0.3s;
    cursor: pointer;
}