*{
    margin:0;
    padding:1px;
}

body{
    background: #010837;
}

svg path{
    fill: #03517c;
    stroke: black;
    stroke-width:2px;
}

svg path:hover{
    fill: #7d88c7;
    transition: 0.3s;
    cursor: pointer;
}

div a{
    background-color: #7d88c7;
    padding: 1%;
    color:white;
    align-items: left;
}